*,
::before,
::after {
  box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

.main-header {
    background-color: #06D6A0;
    padding: 20px;
    position: relative;
}

h1 {
    color: white;
    font-size: 18px;
    margin: 0;
    display: inline-block;
}

ul {
    margin: 0;
}

li {
    display: inline-block;
    font-size: 20px;
    padding: 0 10px;
}

nav {
    display: inline-block;
    position: absolute;
    right: 4%;
}

.home-image img {
    width: 100%;
}

.home-image {
    width: 60%;
    float: left;
}

section.home {
    overflow: hidden;
    background-color: #26547C;
}

.home h2 {
    color: white;
    text-align: center;
    font-size: 36px;
}

main {
    max-width: 900px;
    margin: auto;
}

section.cats {
    background-color: #FFD166;
    padding: 15px 25px;
}
